:root {
  --bg-color: #191921;
  --active-color: #34343d;
  --main-bg-color: #1e2024;
  --btn-bg-color: #34343d;
}

.text {
  color: var(--off-white);
  text-transform: uppercase;
}

.text:hover {
  color: var(--off-white);
}