.card {
    flex-wrap: wrap;
    width: 17rem;
    height: 16rem;
    cursor: pointer;
    margin: 1rem .125rem;

}

.video__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: .5rem;
    padding: 0 0.5rem;
}

.card__heading {
    font-size: .9rem;
    color: var(--off-white);
    word-wrap: break-word;
    width: 10rem;
}

.card__heading>.icon {
    float: right;
}

.card__imgs {
    width: 17rem;
    height: 9rem;
}

.icon {
    float: right;
    color: var(--off-white);
    position: relative;
    top: -2rem;
    right: .3rem;
}

.card__author {
    font-size: .7rem;
    padding-left: 1rem;
    color: var(--off-white);
}

.card__date {
    float: right;
    padding-right: .5rem;
    color: var(--off-white);
}

.ellipse {
    position: relative;
}

.modal {
    background-color: var(--bg-color);
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    top: -.75rem;
    right: 1rem;
    color: var(--off-white);
}

.modal__text {
    font-size: .9rem;
    padding: .6rem;
    cursor: pointer;

}

.modal__show {
    display: flex;
}

.modal__hide {
    display: none;
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(18, 18, 18, 0.301);
    justify-content: center;
    z-index: 9999;
    align-items: center;
}

.playlist__modal {
    background-color: var(--btn-bg-color);
    padding: 1rem;
    grid-gap: 1.2rem;
    gap: 1.2rem;
    width: 20rem;
}

.playlist__text {
    color: var(--off-white);
    padding: .7rem 0;
}

.playlist__close {
    float: right;
    cursor: pointer;
}

.playlist__input {
    margin: 1rem 0;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    margin-left: .3rem;
    color: var(--black);
}

.playlist__title {
    color: var(--off-white);
    padding-left: 0.5rem;
}

.playlist__btn {
    width: 100%;
    padding: .6rem 1rem;
    outline: none;
    border-width: 0;
    font-size: .9rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 550;
}

@media screen and (max-width:780px) {
    .video__card {
        justify-content: space-evenly;
    }
}